
/* Common Styling */
.flexContainer {
  display: flex;
}
.fullWidth{
  width: 100%;
}
.halfWidth{
  width: 50%;
}
body {
  width: 100%;
  overflow: hidden;
}

/*Cards Styling*/
.cardOptions{
  margin-top: -3%;
}

/*Graph Info Section Styling*/
.infoText{
  font-size: 10px!important;
  color: rgba(121, 97, 97, 0.82)!important;
  width: 60%;
}
#awsPaper{
  width:50%;
  background-color: rgba(203, 199, 199, 0.25);
  padding-top: 5px;
  padding-left: 5px;
  margin-top: 20px;
}
.underLine{
  text-decoration: underline!important;
}

/*Filter by Days section -> Graph section Styling*/
.activeTab{
  border-color:dodgerblue!important;
  border-width:1.5px!important;
  color: dodgerblue!important;
}
.filterSection{
  place-content: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/*Top section Styling*/
div.parameterContainer{
  flex-basis: 72%;
  justify-content: start;
}

.accountContainer{
  flex-basis: 28%;
}