
/* Common Styling */
.flex-container {
  display: flex;
}
.fullWidth{
  width: 98%;
}
.halfWidth{
  width: 48%;
}
body {
  width: 100%;
  overflow: hidden;
}
/*Cards Styling*/
.cards{
  padding-right: 10rem;
}
.cardOptions{
  margin-top: -6%;
}

/*Top section Styling*/
div.parameterContainer{
  flex-basis: 72%;
  justify-content: start;
}

.accountContainer{
  flex-basis: 26%;
}


/*Graph Info Section Styling*/
.infoText{
  font-size: 10px!important;
  color: maroon!important;
  width: 60%;
}
#awsPaper{
  width:48%;
  background-color: rgba(203, 199, 199, 0.20);
  padding-top: 5px;
  padding-left: 5px;
  margin-top: 20px;
}
#assessment{
  text-decoration: underline;
}
.underLine{
  text-decoration: underline;
}