
/* Common Styling */
.flexContainer {
  display: flex;
}
.fullWidth{
  width: 100%;
}
.halfWidth{
  width: 48%;
}
body {
  width: 100%;
  overflow: hidden;
}
button:focus{
  outline: none!important;
}
p {
  margin-bottom: 0 !important;
}

/*Cards Styling*/
.cardOptions{
  margin-top: -4%;
}

/*Graph Info Section Styling*/
.infoText{
  font-size: 11px!important;
  color: rgba(121, 97, 97, 0.82)!important;
  width: 60%;
  padding-bottom: 2%;
}
#awsPaper{
  width:48%;
  background-color: rgba(203, 199, 199, 0.25);
  padding-top: 5px;
  padding-left: 5px;
  margin-top: 20px;
}
.underLine{
  text-decoration: underline!important;
}

/*Filter by Days section -> Graph section Styling*/
.activeTab{
  border-color:dodgerblue!important;
  border-width:1.5px!important;
  color: dodgerblue!important;
}
.filterSection{
  place-content: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/*Top section Styling*/
div.parameterContainer{
  flex-basis: 75%;
  justify-content: start;
}

.accountContainer{
  flex-basis: 25%;
}

#divider{
  height: 20px;
  width: 2px;
  margin-right: -5px;
}
